@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap');



body
{
    background: url(/images/spng_1.png);
    background-size:cover;
}

.heading
{
    /* font-family: 'Charmonman', cursive; */
    font-family: 'Macondo Swash Caps', cursive;

    color: rgb(0, 0, 0);
    padding: 32px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    text-align: center;
    text-decoration: underline;
    font-size: 78px ;
    transition: all ease 2s;

}

.heading:hover
{
    font-size: 78.5px;

}

.sub_heading
{
    /* font-family: 'Charmonman', cursive; */
    font-family: 'Macondo Swash Caps', cursive;

    color: rgb(0, 0, 0);
    padding: 28px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 30px;
    transition: all ease 2s;

}



p
{
   
    text-align: center;
    padding: 12px;
    font-size: 19px;
    text-shadow: 1px 3px 9px rgba(0, 0, 0, 0.2);
    color: rgb(0, 0, 0);
    font-family: 'Macondo Swash Caps', cursive;
    

}

.img-thumbnail
{
    box-shadow: 3px 9px 9px 12px rgb(0, 0, 0);
}


hr
{
    color: rgb(0, 0, 0);
}

.footer
{
    text-align: center;
    text-shadow: 0px .5px 1px rgba(0, 0, 0, 0.4);
    font-size: 18px;
    font-family: 'Macondo Swash Caps', cursive;
    color: rgb(0, 0, 0);

}